body {
  background-color: hsl(225, 100%, 94%);
  font-family: 'Red Hat Display', sans-serif;
}

.card-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.container {
  background-color: hsl(225, 100%, 98%);
  border-radius: 15px;
  max-width: 350px;
  width: 100%;
  box-shadow: 0px 5px 10px hsla(224, 23%, 55%, 0.4);
  overflow: hidden;
}

.card-image {
  width: 100%;
  display: block;
}

.order-summary {
  color: hsl(223, 47%, 23%);
  font-size: 1.4rem;
  padding: 2px;
  margin-top: 30px;
}

.order-details {
  font-size: 0.9rem;
  padding: 6px;
  margin: 16px;
  color: hsl(224, 23%, 55%);
}

.plan-details {
  display: flex;
  align-items: center;
  background-color: hsla(225, 100%, 94%, 0.4);
  padding: 8px;
  margin: 30px;
  border-radius: 5px;
}

.plan-type {
  display: flex;
  flex-direction: column;
  color: hsl(223, 47%, 23%);
}

.plan-details p {
  margin: -6px 18px;
  font-weight: 700;
  font-size: 0.9rem;
}

.plan-duration {
  font-weight: normal;
  color: hsl(224, 23%, 55%);
}

.plan-details a {
  font-size: 0.85rem;
  margin-left: 30px;
  font-weight: bold;
  color: hsl(245, 75%, 52%);
}

.plan-details a:hover {
  color: hsla(245, 75%, 52%, 0.8);
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-btn {
  border: none;
  border-radius: 10px;
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 94%);
  height: 40px;
  padding: 5px;
  width: 80%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.payment-btn:hover {
  background-color: hsla(245, 75%, 52%, 0.8);
}

.order a {
  font-size: 0.9rem;
  color: hsl(224, 23%, 55%);
  text-decoration: none;
  margin-bottom: 30px;
  outline: none;
}

.order a:hover {
  color: hsl(223, 47%, 23%);
}


